body {
    background-color: #16a085;
    color: #fff;
    font-family: 'Lato', 'Helvetica', 'Arial';
}
h1, h2 {
    font-family: 'Montserrat', 'Helvetica', 'Arial';
}
a, a:active, a:hover {
    color: #fff;
}
.really-large-text {
    font-size: 70px;
    margin-top: 160px;
    text-align: center;
    text-shadow: 2px 2px 1px #333;
}
.hashtags {
    font-size: 30px;
    list-style: none;
    margin-top: 60px;
    padding-left: 0;
    text-align: center;
    text-shadow: 1px 1px .5px #333;
}
.hashtags.small {
    font-size: 20px;
    margin-top: 30px;
}
.hashtags > li {
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}
.hashtags.small > li {
    margin-left: 6px;
    margin-right: 6px;
}
.icons {
    list-style: none;
    margin-top: 60px;
    padding-left: 0;
    text-align: center;
    text-shadow: 1px 1px .5px #333;
}
.icons > li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.tweets {
    margin-top: 40px;
    text-align: center;
}
footer {
    bottom: 0;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
