body {
    color: #333;
}

h2, h3 {
    font-weight: 300;
}

h2 > a {
    text-decoration: none;
}

a {
    color: #4183c4;
}

h2 > a {
    color: #333;
}

ul {
    margin: 0;
}

ul.link-list {
    list-style: none;
    padding-left: 0;
}

pre {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    background-color: #f8f8f8;
}

code {
    font-size: 0.9em;
}

.content-subhead{
    color: #333;
}

.date {
    float: right;
}

.post-meta {
    font-size: 90%;
    color: #999;
    line-height: 1;
}

.table-cheat-sheet tr {
    vertical-align: top;
}

.footer {
    text-align: center;
    padding-bottom: 40px;
}