{% extends "template.html" %}

{% block description %}Home ...{% endblock %}

{% block title %}Peter Suhm{% endblock %}

{% block header %}
    <h1>Peter Suhm</h1>
    <h2>Web Developer from the Land of the Danes</h2>
{% endblock %}

{% block content %}
    <h2 class="content-subhead" id="blog">Latest posts</h2>
    <ul class="link-list">
{% for post in posts %}
        <li>
            <a href="/blog/{{ post.getSlug() }}">{{ post.getMetadata('title') }}</a>
        </li>
{% endfor %}
    </ul>
    <p>
        <a href="blog">All posts &raquo;</a>
    </p>
    <h2 class="content-subhead" id="about">About</h2>
    <p>
        Hello! I'm Peter, a young Dane who loves building applications for the
        web. I also love other things, <a href="http://abroadness.com">traveling</a>
        for example.
    </p>
    <p>If you wish, you can check out the following stuff:</p>
    <ul>
        <li>My <a href="https://github.com/petersuhm">code</a> on Github</li>
        <li>My travel blog, <a href="http://abroadness.com">Abroadness.com</a> (next big trip in Sep. 2014!!!)</li>
        <li>... including a (slightly photoshopped) <a href="http://abroadness.com/about">picture of me</a>!</li>
        <li>The <a href="https://github.com/petersuhm/petersuhm.com">source code</a> of this website (If you happen to be a geek...)</li>
        <li>My <a href="https://twitter.com/petersuhm">twitter account</a></li>
    </ul>
    <h2 class="content-subhead" id="contact">Contact</h2>
    <p>
        If we need to get in touch, you are more than welcome to send me an
        e-mail. You can reach me at
        <a href="mailto:peter@suhm.dk">peter@suhm.dk</a>. Alternatively, you can
        find me on <a href="https://twitter.com/petersuhm">Twitter</a>.
    </p>
{% endblock %}