<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">

    <title>Peter Suhm</title>

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="assets/libs/purecss/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="assets/libs/purecss/css/layouts/side-menu.css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>Peter Suhm</h1>
                <h2>A subtitle for your page goes here</h2>
            </div>

            <div class="content">
                <h2 class="content-subhead" id="blog">Latest posts</h2>
                <ul class="link-list">
                    <li><a href="#">Hello world</a></li>
                    <li><a href="#">PHP package development like a boss</a></li>
                    <li><a href="#">Ja ja, den er god med dig du</a></li>
                </ul>
                <p>
                    <a href="blog">All posts &raquo;</a>
                </p>
                <h2 class="content-subhead" id="about">About</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam rutrum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere est eu neque ultrices, pharetra luctus dui convallis. Integer lacinia tellus in nisi mattis, quis lacinia justo sollicitudin. Integer eu semper odio, eget commodo dui. Vivamus hendrerit dolor eros. Donec justo dolor, tincidunt vel pretium vitae, vestibulum nec tortor. Nulla cursus gravida quam, in molestie sem varius at. Duis odio nibh, blandit in ligula sed, fermentum pellentesque risus. Nullam feugiat faucibus turpis, vitae suscipit turpis sagittis sed. In hac habitasse platea dictumst. Nunc rutrum gravida commodo. Cras sed ante rhoncus, mollis magna eleifend, cursus orci.
                </p>
                <h2 class="content-subhead" id="contact">Contact</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam rutrum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere est eu neque ultrices, pharetra luctus dui convallis. Integer lacinia tellus in nisi mattis, quis lacinia justo sollicitudin. Integer eu semper odio, eget commodo dui. Vivamus hendrerit dolor eros. Donec justo dolor, tincidunt vel pretium vitae, vestibulum nec tortor. Nulla cursus gravida quam, in molestie sem varius at. Duis odio nibh, blandit in ligula sed, fermentum pellentesque risus. Nullam feugiat faucibus turpis, vitae suscipit turpis sagittis sed. In hac habitasse platea dictumst. Nunc rutrum gravida commodo. Cras sed ante rhoncus, mollis magna eleifend, cursus orci.
                </p>
            </div>

            <div class="footer">
                <small>&copy; 2014 Copyright <a href="mailto:peter@suhm.dk">Peter Suhm</a></small>
            </div>
        </div>
    </div>

    <script src="assets/libs/purecss/js/ui.js"></script>

</body>
</html>