{% extends "template.html" %}

{% block description %}Home ...{% endblock %}

{% block title %}Peter Suhm{% endblock %}

{% block header %}
    <h1>Peter Suhm</h1>
    <h2>A subtitle for your page goes here</h2>
{% endblock %}

{% block content %}
    <h2 class="content-subhead" id="blog">Latest posts</h2>
    <ul class="link-list">
        <li><a href="#">Hello world</a></li>
        <li><a href="#">PHP package development like a boss</a></li>
        <li><a href="#">Ja ja, den er god med dig du</a></li>
    </ul>
    <p>
        <a href="blog">All posts &raquo;</a>
    </p>
    <h2 class="content-subhead" id="about">About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam rutrum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere est eu neque ultrices, pharetra luctus dui convallis. Integer lacinia tellus in nisi mattis, quis lacinia justo sollicitudin. Integer eu semper odio, eget commodo dui. Vivamus hendrerit dolor eros. Donec justo dolor, tincidunt vel pretium vitae, vestibulum nec tortor. Nulla cursus gravida quam, in molestie sem varius at. Duis odio nibh, blandit in ligula sed, fermentum pellentesque risus. Nullam feugiat faucibus turpis, vitae suscipit turpis sagittis sed. In hac habitasse platea dictumst. Nunc rutrum gravida commodo. Cras sed ante rhoncus, mollis magna eleifend, cursus orci.
    </p>
    <h2 class="content-subhead" id="contact">Contact</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam rutrum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere est eu neque ultrices, pharetra luctus dui convallis. Integer lacinia tellus in nisi mattis, quis lacinia justo sollicitudin. Integer eu semper odio, eget commodo dui. Vivamus hendrerit dolor eros. Donec justo dolor, tincidunt vel pretium vitae, vestibulum nec tortor. Nulla cursus gravida quam, in molestie sem varius at. Duis odio nibh, blandit in ligula sed, fermentum pellentesque risus. Nullam feugiat faucibus turpis, vitae suscipit turpis sagittis sed. In hac habitasse platea dictumst. Nunc rutrum gravida commodo. Cras sed ante rhoncus, mollis magna eleifend, cursus orci.
    </p>
{% endblock %}